Testing
Makefile
install_manifest.txt
compile_commands.json
_deps
.DS_Store
build/
.cache/
*.dylib
*.so
.idea/
nob
!nob/
nob.old

# MkDocs build output
site/

# Python virtual environment (if using)
venv/
.venv/

# Python cache
__pycache__/
*.pyc